<% content_for :head do %>
  <title>Coke - Article</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "article" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "desert" %>
<% end %>

<div class="container">
  <%= partial "profile-panel" %>
  <div class="row">
    <div class="span9">
      <ul class="breadcrumb">
        <li>
          <a class="crumb-link" href="/posts.html">Forum</a> <span class="divider">/</span>
        </li>
        <li>
          <a class="crumb-link" href="/posts/tag?name=xxx">Tag</a> <span class="divider">/</span>
        </li>
        <li class="active">
          <a class="crumb-link" href="/article.html">Post Title</a>
        </li>
      </ul>
      <div id="article-wrap">
        <a class="reply btn btn-primary" href="#reply" class="btn btn-primary">Reply</a>
        <h2 id="article-title" >Post Title</h2>
        <% 3.times do %>
        <p><%= lorem.paragraph %></p>
        <% end %>
        <pre class="prettyprint">
        <code>
  # Quick start
  # Make sure you have installed node.js, mongoDB and npm before you run the folling commands

  $ npm install coke -g
  $ coke new blog && cd blog
  $ coke g scaffold posts title:string content:string

  # Make sure your mongoDB is running

  $ coke s


  # Now go check at http://127.0.0.1:4000 on your favorite browser to see your first coke project
          </code>
        </pre>
        <a href="/posts/:id" id="author"><%= lorem.name %></a>
        <span class="last-reply-time"><%= lorem.date %></span>
      </div> <!-- #article-wrap -->
      <div class="comment-wrap">
        <h2 id="article-title" >Comment Title</h2>
        <% 2.times do %>
        <p><%= lorem.paragraph %></p>
        <% end %>
        <pre class="prettyprint">
        <code>
  # Quick start
  # Make sure you have installed node.js, mongoDB and npm before you run the folling commands

  $ npm install coke -g
  $ coke new blog && cd blog
  $ coke g scaffold posts title:string content:string

  # Make sure your mongoDB is running

  $ coke s


  # Now go check at http://127.0.0.1:4000 on your favorite browser to see your first coke project
          </code>
        </pre>
        <a href="/posts/:id" id="author"><%= lorem.name %></a>
        <span class="last-reply-time"><%= lorem.date %></span>
        <a class="reply btn btn-primary" href="#reply" class="btn btn-primary">Reply</a>
      </div> <!-- .comment-wrap -->
      <div class="pagination article-pager">
        <ul>
          <li><a href="#">Prev</a></li>
          <li class="active">
            <a href="#">1</a>
          </li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">Next</a></li>
        </ul>
      </div> <!-- .pagination -->
      <form id="reply-area">
        <fieldset>
          <legend>Reply</legend>
          <div class="control-group">
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="10"></textarea>
            </div>
          </div>
          <div class="form-actions reply-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div> <!-- .span9 -->
    <%= partial "sidebar" %>
  </div> <!-- .row -->
</div>
<% content_for :script do %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>