<% content_for :head do %>
  <title>Coke - Edit Post</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "new-edit" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "desert" %>
<% end %>

<div class="span9">
  <%= partial "breadcrumb" %>
  <form id="reply-area">
    <fieldset>
      <legend>Edit Post</legend>
      <div class="control-group">
        <div class="controls">
          <textarea class="input-xlarge" id="textarea" rows="10">The original content...</textarea>
        </div>
      </div>
      <label>Tags</label>
      <input type="text" class="span3" name="tags" placeholder="Type in tags...">
      <span class="help-inline">Separate tags with comma</span>
      <%= partial "form-actions" %>
    </fieldset>
  </form>
</div> <!-- .span9 -->
<%= partial "sidebar" %>

<% content_for :script do %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>