<% content_for :head do %>
  <title>Coke - All Tags</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "posts-tag-name" %>
  <%= stylesheet_link_tag "bootstrap" %>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <h2>All Users</h2>
      <div id="tags-wrap">
        <ul class="thumbnails">
          <% 15.times do %>
          <li class="span4">
            <div class="thumbnail user-wrap">
              <div class="avatar-user-warp" >
                <h3 class="user-name"><%= lorem.name %></h3>
              </div>
              <p>Since: <%= lorem.date %></p>
              <p>Posts: 108 posts</p>
              <p>Bio: <%= lorem.words 30 %></p>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<% content_for :script do %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>