<% content_for :head do %>
  <title>Coke - Users</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "users" %>
  <%= stylesheet_link_tag "bootstrap" %>
<% end %>

<div class="span12">
  <h2>All Users</h2>
  <div id="users-wrap">
    <ul class="thumbnails">
      <% 15.times do %>
      <li class="span4">
        <div class="user-wrap">
          <div class="user-profile-avatar"><a class="user-link" href="/user.html"><img class="user-profile-avatar-img" src="<%= lorem.image('50x50') %>" alt="Avatar"></a></div>
          <div class="meta">
            <h3 class="user-name"><a class="user-link" href="/user.html<%= lorem.name %>"><%= lorem.name %></a></h3>
            <h4 class="email">Email: ooo@fake.com</h4>
            <h4 class="posts">Posts: 143</h4>
            <h4 class="comments">Comments: 256</h4>
            <h4 class="created">Created at: <%= lorem.date %></h4>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
    <div class="pagination article-pager">
      <ul>
        <li><a href="#">Prev</a></li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div>

<% content_for :script do %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>