<% content_for :head do %>
  <title>Coke - <%= lorem.name %>'s Profile</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "user" %>
  <%= stylesheet_link_tag "bootstrap" %>
<% end %>

<div class="span9">
  <%= partial "breadcrumb" %>
  <div class="well" id="profile">
    <div id="user-profile-avatar"><img id="user-profile-avatar-img" src="<%= lorem.image('100x100') %>" alt="Avatar"></div>
    <div id="meta">
      <h3 id="name"><%= lorem.name %></h3>
      <h4>Email: ooo@fake.com</h4>
      <h4>Posts: 143</h4>
      <h4>Comments: 256</h4>
      <h4>Created at: <%= lorem.date %></h4>
    </div>
  </div>
  <div id="posts">
    <h2 class="block-title">Recent Posts</h2>
    <% 3.times do %>
    <div class="article-item">
      <h3 class="item-title"><a class="title-link" href="/article.html">請問 layout 要怎麼設計？partial 要怎麼用？</a></h3>
      <!-- <p class="item-content"><%= lorem.sentence %></p> -->
      <p class="item-content">請問 layout 要怎麼設計？partial 要怎麼用？</p>
      <a href="/posts/tag?name=xxx" class="tag"><%= lorem.word %></a>
      <a href="/posts/tag?name=xxx" class="tag"><%= lorem.word %></a>
      <a href="/posts/tag?name=xxx" class="tag"><%= lorem.word %></a>
      <a href="/posts/:id" class="author"><%= lorem.name %></a>
      <span class="last-reply-time">49mins ago</span>
      <a class="comment-count" href="/article.html#comment">10</a>
    </div> <!-- .article-item -->
    <% end %>
    <a class="more-link" href="/user-posts.html">more &#187</a>
  </div> <!-- #recent-posts-wrap -->

  <div id="replies">
    <h2 class="block-title">Recent Posts <%= lorem.name %> Reply</h2>
    <% 3.times do %>
    <div class="article-item">
      <h3 class="item-title"><a class="title-link" href="/article.html">請問 layout 要怎麼設計？partial 要怎麼用？</a></h3>
      <!-- <p class="item-content"><%= lorem.sentence %></p> -->
      <p class="item-content">請問 layout 要怎麼設計？partial 要怎麼用？</p>
      <a href="/posts/tag?name=xxx" class="tag"><%= lorem.word %></a>
      <a href="/posts/tag?name=xxx" class="tag"><%= lorem.word %></a>
      <a href="/posts/tag?name=xxx" class="tag"><%= lorem.word %></a>
      <a href="/posts/:id" class="author"><%= lorem.name %></a>
      <span class="last-reply-time">49mins ago</span>
      <a class="comment-count" href="/article.html#comment">10</a>
    </div> <!-- .article-item -->
    <% end %>
    <a class="more-link" href="/user-comments.html">more &#187</a>
  </div> <!-- #recent-reply-wrap -->
</div>
<%= partial "sidebar" %>

<% content_for :script do %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>