<% content_for :head do %>
  <title>Coke - All <%= lorem.name %>'s Posts</title>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "posts-tag-name" %>
  <%= stylesheet_link_tag "bootstrap" %>
<% end %>

<div class="span9">
  <%= partial "breadcrumb" %>
  <h2 id="page-title">All <%= lorem.name %>'s Posts</h2>
  <div id="items-wrap">
    <% 10.times do %>
    <div class="article-item">
      <h3 class="item-title"><a class="title-link" href="/article.html">Title</a></h3>
      <p class="item-content"><%= lorem.sentence %></p>
      <a href="/posts/tag?name=xxx" class="tag"><%= lorem.word %></a>
      <a href="/posts/tag?name=xxx" class="tag"><%= lorem.word %></a>
      <a href="/posts/tag?name=xxx" class="tag"><%= lorem.word %></a>
      <a href="/posts/:id" class="author"><%= lorem.name %></a>
      <span class="last-reply-time">49mins ago</span>
      <a class="comment-count" href="/article.html#comment">10</a>
    </div> <!-- .article-item -->
    <% end %>
    <div class="pagination article-pager">
      <ul>
        <li><a href="#">Prev</a></li>
        <li class="active">
          <a href="#">1</a>
        </li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
  </div>
</div> <!-- .span9 -->
<%= partial "sidebar" %>

<% content_for :script do %>
  <%= javascript_include_tag "bootstrap" %>
<% end %>